body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar1{
  background: #2E435C;
  margin-bottom: -2.5%;
  height: 10%;
  position:fixed;
  padding: 5px 0 5px 0;
  width: 100vw;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.navbar1>div{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    padding-right: 30px;
}

.hamburger1{
  display: none;
  background: transparent;
  border: none;
  color: white;
  float: right;
  cursor: pointer;
}

.register{
  height: 40px;
  width: 100px;
  background-color: white;
  color: black;
  border: 1px solid transparent;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  position: absolute;
  top: 25%;
}
a{
  color: white;
  text-decoration: none;
  padding: 10px;
}

a:hover{
  cursor: pointer;
}

.mobile-links{
  visibility: hidden;
}

.Footer{
  width: 100vw;
  height: fit-content;
  background-color: #25384C;
  padding: 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-us{
  height: fit-content;
  padding: 15px 0px;
  width: 100vw;
  padding-left: 6%;
}

.contact-us-details{
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
}

.college-name , .college-address , .mobile-number , .site-link{
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: space-between;
}

.text{
  padding-left: 10px;
}

.contact-heading > h1{
  color: white;
}

.text > p , .icon{
  color: white;
}

.QR-50{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
}

.QR-Box{
  height: 280px;
  width: 280px;
  background-color: #D9D9D9;
  
}

@media screen and (max-width:710px){

  .links{
    visibility: hidden;
  }
  
  .hamburger1{
    display: block;
    float: right;
  }
  .mobile-links{
    display: flex;
    visibility: visible;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: #192b42;
    z-index: 2;
    box-shadow: 0px 7px 12px -2px rgba(0,0,0,0.69);
    list-style: none;
  }

  .navbar1>div{
      padding-right: 0px;
  }

  .Footer{
    flex-wrap: wrap;
      flex-direction: coloum;
  }
  

}

@media screen and (max-width:440px){

  .logo-image{
      width: 180px;
      height: 100%;
  }
  .contact-us{
    padding-left: 2%;
  }
 
}

@media screen and (max-width:340px){

  .text{
    font-size: 14px;
  }
 
}
